In [1]:
from pyta.main import get_data, get_data_file
from itables import init_notebook_mode

init_notebook_mode(all_interactive=True)

In [2]:
frequency_map, distances = get_data(get_data_file())

In [3]:
frequency_map.sort_values(["count"],ascending=False)

       count
key
a         12
shift     11
D         11
y         11
g         11
m         11
d          3
ctrl       2
c          2
e          1
w          1

In [4]:
distances.sort_values(["count"],ascending=False)

                count
key   previous
D     shift      11.0
y     D          11.0
g     y          11.0
m     g          11.0
a     m          11.0
shift a           9.0
ctrl  a           2.0
c     ctrl        2.0
d     d           2.0
      a           1.0
e     d           1.0
w     e           1.0
shift w           1.0
a     b           0.0